{{#> layouts/base }}
  {{#*inline "content"}}

    <main class="main">
      <header class="header">
        <h1 class="header-title">
          Webpack SW Starter
        </h1>
      </header>
      <h2 class="title">Supported features:</h2>
      <ul class="features">
        <li>
          <a href="https://www.typescriptlang.org/">Typescript</a>
        </li>
        <li>
          <a href="https://sass-lang.com/">Sass</a>
        </li>
        <li>
          <a href="https://github.com/postcss/autoprefixer">Autoprefixer</a>
        </li>
        <li>
          <a href="https://handlebarsjs.com/">Handlebars</a>
        </li>
        <li>
          <a href="https://developers.google.com/web/tools/workbox/">Workbox</a>
        </li>
        <li>
          <a href="https://webpack.js.org/plugins/compression-webpack-plugin/#root">Compression</a>
        </li>
        <li>
          <a href="https://webpack.js.org/configuration/dev-server/#root">DevServer</a>
        </li>
      </ul>
    </main>

  {{/inline}}
{{/ layouts/base }}