{{#> layouts/base }}
  {{#*inline "content"}}

    <div class="content">
      <main class="main">
        <header class="header">
          <h1 class="header-title">
            Placeholder title (Main title)
          </h1>
        </header>
        <section class="posts">
          <article class="post">
            <a href='#'>
              <h3 class="post-title">
                Placeholder link
              </h3>
            </a>
          </article>
          <article class="post">
            <h3 class="post-title">
              <a href='#'>
                Placeholder link
              </a>
            </h3>
          </article>
          <article class="post">
            <a href='#'>
              <h3 class="post-title">
                Placeholder link
              </h3>
            </a>
          </article>
        </section>
      </main>

      {{> includes/footer }}

    </div>

  {{/inline}}
{{/ layouts/base }}