{{!-- includes/footer --}}

<footer class="footer">
  <div class="wrapper">
    <p class="footer">
      <img src="media/icons/heart.svg" alt="heart icon">
      <img src="media/icons/heart.svg" alt="heart icon">
      <img src="media/icons/heart.svg" alt="heart icon">
      <img src="media/icons/heart.svg" alt="heart icon">
      <img src="media/icons/heart.svg" alt="heart icon">
      <img src="media/icons/heart.svg" alt="heart icon">
      <img src="media/icons/heart.svg" alt="heart icon">
      <img src="media/icons/heart.svg" alt="heart icon">
    </p>
  </div>
</footer>