{{!-- includes/navbar --}}

<nav class="navbar" {{#if hidden}}style="visibility: hidden; position: static;"{{/if}}>
  <div class="wrapper">
    <ul class="navbar-items">
      <li class="navlink">
        <a href="#">
        <span>
          Home
        </span>
        </a>
      </li>
      <li class="navlink">
        <a href="#">
          <span>
            Placeholder
          </span>
        </a>
      </li>
      <li class="navlink">
        <a href="#">
          <span>
            Placeholder
          </span>
        </a>
      </li>
      <li class="navlink">
        <a href="#">
          <span>
            Placeholder
          </span>
        </a>
      </li>
    </ul>
  </div>
</nav>